In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

In [3]:
df = pd.read_csv("C:/Users/Abdilfatah/Desktop/Data/MachineLearningRating_v3.txt", sep="|")

C:\Users\Abdilfatah\AppData\Local\Temp\ipykernel_10312\3184960549.py:1: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:/Users/Abdilfatah/Desktop/Data/MachineLearningRating_v3.txt", sep="|")

In [4]:
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [5]:
df.columns

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language',
       'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Country', 'Province',
       'PostalCode', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode',
       'VehicleType', 'RegistrationYear', 'make', 'Model', 'Cylinders',
       'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors',
       'VehicleIntroDate', 'CustomValueEstimate', 'AlarmImmobiliser',
       'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff',
       'Rebuilt', 'Converted', 'CrossBorder', 'NumberOfVehiclesInFleet',
       'SumInsured', 'TermFrequency', 'CalculatedPremiumPerTerm',
       'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section',
       'Product', 'StatutoryClass', 'StatutoryRiskType', 'TotalPremium',
       'TotalClaims'],
      dtype='object')

In [6]:
df.groupby("Province")["TotalClaims"].value_counts()

Province      TotalClaims
Eastern Cape  0.000000         30286
              6140.350877          6
              531.350877           1
              750.649123           1
              850.000000           1
                               ...
Western Cape  243832.473684        1
              247735.964912        1
              261307.017544        1
              304413.394737        1
              393092.105263        1
Name: count, Length: 1820, dtype: int64

In [14]:
T_values = pd.crosstab(df['Province'],df['TotalClaims']).values
T_values

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 1, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 1]], dtype=int64)

In [15]:
H0 = "They are independent"
H1 = "They are not independent"

In [9]:
chi2_statistic, p_value, dof, expected_value = chi2_contingency(T_values,correction=False)

In [10]:
print(chi2_statistic, p_value)

10722.684705166641 1.0

In [11]:
pro=0.95
alpha = 1- pro
print('Significance=%0.3f, p = %0.3f' % (alpha, p_value))
if p_value <= alpha:
    print('Dependent, we reject the null hypothesis')
    print(H1)
    
else:
    print('Independent, we fail to reject the null hypothesis')
    print(H0)

Significance=0.050, p = 1.000
Independent, we fail to reject the null hypothesis
They are independent

In [12]:
#sub-task-2 of task 3

In [13]:
df.groupby("MainCrestaZone")["TotalClaims"].value_counts()

MainCrestaZone                   TotalClaims
Cape Province                    0.000000         6692
                                 6140.350877         2
                                 750.649123          1
                                 2443.412281         1
                                 2469.298246         1
                                                  ...
Transvaal (all except Pretoria)  208218.245614       1
                                 218389.448596       1
                                 248026.053860       1
                                 276248.859649       1
                                 286686.431053       1
Name: count, Length: 1861, dtype: int64

In [16]:
Z_values = pd.crosstab(df['MainCrestaZone'],df['TotalClaims']).values
Z_values

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [1, 0, 1, ..., 0, 0, 0]], dtype=int64)

In [17]:
H0 = "They are independent"
H1 = "They are not independent"

In [19]:
chi2_statistic, p_value, dof, expected_value = chi2_contingency(Z_values,correction=False)

In [20]:
print(chi2_statistic, p_value)

21444.2781960224 1.0

In [21]:
pro=0.95
alpha = 1- pro
print('Significance=%0.3f, p = %0.3f' % (alpha, p_value))
if p_value <= alpha:
    print('Dependent, we reject the null hypothesis')
    print(H1)
    
else:
    print('Independent, we fail to reject the null hypothesis')
    print(H0)

Significance=0.050, p = 1.000
Independent, we fail to reject the null hypothesis
They are independent

In [ ]:
# Working on sub-task 3 of task 3

In [22]:
df.groupby("Gender")["TotalClaims"].value_counts()

Gender         TotalClaims
Female         0.000000         6741
               2968.705263         2
               750.649123          1
               850.000000          1
               2377.657895         1
                                ...
Not specified  304338.657895       1
               304413.394737       1
               363343.421053       1
               376432.491228       1
               393092.105263       1
Name: count, Length: 1631, dtype: int64

In [23]:
G_values = pd.crosstab(df['Gender'],df['TotalClaims']).values
G_values

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 1, 1, ..., 1, 1, 1]], dtype=int64)

In [24]:
H0 = "They are independent"
H1 = "They are not independent"

In [25]:
chi2_statistic, p_value, dof, expected_value = chi2_contingency(Z_values,correction=False)

In [26]:
print(chi2_statistic, p_value)

21444.2781960224 1.0

In [27]:
pro=0.95
alpha = 1- pro
print('Significance=%0.3f, p = %0.3f' % (alpha, p_value))
if p_value <= alpha:
    print('Dependent, we reject the null hypothesis')
    print(H1)
    
else:
    print('Independent, we fail to reject the null hypothesis')
    print(H0)

Significance=0.050, p = 1.000
Independent, we fail to reject the null hypothesis
They are independent